#edit {
	width: 500px;
	float: left;
	padding: 10px;
}

#original {
	width: 350px;
	float: left;
	padding: 10px;
}

#notification {
	border: 5px solid #9c9;
	background-color: #cfc;
	padding: 5px;
	margin: 10px 0;
}
