body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #FFFFFF;
  width: 900px;
  margin: 15px auto;
}

.latest	{
  font-size:26px; 
  color:#BE5653;
}

.link a {
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.info {
  font-size: 14px; 
  color: #848484;
}

.info a {
  color:#848484; 
  text-decoration: none; 
}

.info a:hover {
  color:#848484; 
  text-decoration: underline;
}

.title {
  font-size:24px; 
  color:#FFFFFF;
}

.submit_button {
  vertical-align: middle;
}


#header {
  margin-top: 20px;
  height: 110px;
}

#header #logo {
  float: left;
}

#header #loginout {
  float: right;
  text-align: right;
}

#header #search {
  position: relative;
  left: -230px;
  top: 55px;
  padding: 5px 10px;
}

#main {
  clear: both;
  background: url('../images/bg_m.gif') no-repeat;
  margin: 0px auto;
  height: 274px;
}

#main #main_text {
  width: 890px;
  height: 200px;
}

#main p {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

#main p#url {
  font-size: 24px; 
  padding-top: 30px;
}

#main p#from {
  float: left;
  width: 440px;
}

#main p#to {
  float: right;
  width: 440px;
}

#main p#submit {
  padding-bottom: 20px;
}

#main p.notetobloggers {
  text-align: center;
}

#main #tweet {
  width: 94px;
  height: 79px;
  position: relative;
  left: 780px;
  bottom: 20px;
}

#main p.show_title {
  font-size: 24px;  
  font-weight: bold;
  padding: 50px 0 20px 10px; 
  text-align: left;
}

#main p.show_info {
  padding: 0 10px;
  font-weight: normal;
  text-align: left;
}

#main p.show_info a {
  text-decoration: none;
}

#main p.show_info a:hover {
  text-decoration: underline;
}


#latest {
  background: #D3D3D3;
  width: 290px;
  margin: 10px 0;
  padding: 10px;
  float: left;
}

#most {
  background: #D3D3D3;
  width: 280px;
  margin: 10px 0 10px 10px;
  padding: 10px;
  float: left;
}

#top_users {
  background: #D3D3D3;
  width: 250px;
  margin: 10px 0 10px 10px;
  padding: 10px;
  float: left;
}

#show_middle {
  clear: both;
}

#add_trans {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

#user_info {
  margin-right: 10px;
  float: right;
  text-align: right;
}

#show_content {
  clear: both;
  margin-bottom: 10px;
  background: #D3D3D3;
  padding: 10px;
}

#previous {
  clear: both; 
  padding: 10px;
}

#edit {
  margin-bottom: 10px;
  padding: 5px;
  width: 48%;
  float: left;
}

.yui-editor-container {
  width: 48%;
}

#original {
  background: #D6D6D6;
  margin-bottom: 10px;
  padding: 5px;
  width: 48%;
  float: right;
} 

#notification {
  border: 5px solid #9c9;
  background-color: #cfc;
  padding: 5px;
  margin: 10px 0;
}

#footer {
  clear: both;
  background: #242023;
  text-align: center;
  padding: 10px 0;
}

/* CSS star rating */

ul.stars {
    display: block;
    margin: 0 auto;
    padding: 0;
    background-position: left top;
    height: 30px;
    width: 150px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

ul.stars,
ul.stars li.current_rating,
ul.stars li a:hover,
ul.stars li a:active { background: url(/images/star.png) left top repeat-x; float:left; }

ul.stars li {
    display: inline;
    margin: 0;
    padding: 0;
    float: none;
}

ul.stars li a,
ul.stars li.current_rating {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-indent: 1000px;
    overflow:hidden;
}

ul.stars li.current_rating { z-index: 1; background-position: left bottom; }

ul.stars li a:hover,
ul.stars li a:active { background-position: left center; }

ul.stars li a.one_star {
    width: 20%;
    z-index: 6;
}

ul.stars li a.two_stars {
    width: 40%;
    z-index: 5;
}

ul.stars li a.three_stars {
    width: 60%;
    z-index: 4;
}

ul.stars li a.four_stars {
    width: 80%;
    z-index: 3;
}

ul.stars li a.five_stars {
    width: 100%;
    z-index: 2;
}

ul.small_stars {
    display: block;
    margin: 0 auto;
    margin-top: -15px;
    padding: 0;
    background-position: left top;
    height: 15px;
    width: 75px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

ul.small_stars,
ul.small_stars li.current_rating,
ul.small_stars li a:hover,
ul.small_stars li a:active { background: url(/images/star_small.png) left top repeat-x; float:left; }

ul.small_stars li {
    display: inline;
    margin: 0;
    padding: 0;
    float: none;
}

ul.small_stars li a,
ul.small_stars li.current_rating {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    line-height: 15px;
    text-indent: -1000px;
    overflow:hidden;
}

ul.small_stars li.current_rating { z-index: 1; background-position: left bottom; }

ul.small_stars li a:hover,
ul.small_stars li a:active { background-position: left center; }

