<h2>Search result for term <em><%= @query %></em> resulted in <%= @total_hits %> hits</h2>
<%= render :partial => 'post', :collection => @posts %>
<%= will_paginate @posts, :params => {:query => @query} %>
