<p>
It all started when I translated Paul Graham's essay - <%= link_to 'Why to not not start a startup', 'http://www.paulgraham.com/notnot.html' %> and also when I read Ryan Tomayko's excellent blog post about REST architecture - <%= link_to 'How I explained REST to my wife', 'http://tomayko.com/writings/rest-to-my-wife' %>. I think both are quite important idea/concept and deserve to be spread all over the world across borders. 
</p>
<p>
I used Google Translate, but it got a lot of translation wrong. Machine translation is not there, yet. Also I wanted to find a way to have correct translation done by human based on rough translation done by machine first, and also to preserve it so that others can refer to it by URI.
</p>
<p>
That's how Bloglation or Open Translation Project began. I hope you can enjoy and use it as much as you can, and spread worthy knowledge everywhere.
</p>
<p>
If you'd like to get in touch with me, you can do so at yang [at] yangtheman.com.
</p>
