<div id="show_content">
<p>
It all started when I translated Paul Graham's essay - <%= link_to 'Why to not not start a startup', 'http://www.paulgraham.com/notnot.html' %> and also when I read Ryan Tomayko's excellent blog post about REST architecture - <%= link_to 'How I explained REST to my wife', 'http://tomayko.com/writings/rest-to-my-wife' %>. I think both are quite important idea/concept and deserve to be spread all over the world across borders. 
</p>
</p>
Ultimately, I think it's all about spreading knowledge, ideas and concepts across any borders. My motivation for initial translation was to teach Korean-speaking folks about Silicon Valley's startup culture (because it's only other language I know besides English), especially why it's important to start and fail early. I really wish I could have read Paul Graham's "Why to not not start a startup" when I was in college. I probably wouldn't have made the same choices. 
</p>
<p>
That's how Bloglation or Open Translation Project began. I hope you can enjoy and use it as much as you can, and spread worthy knowledge everywhere.
</p>
<p>
If you'd like to get in touch with me, you can do so at <%= mail_to "admin@bloglation.com", "admin [at] bloglation.com" %>.
</p>
</div>
