<div id="show_content">
<p>
We are translating other's work, but wouldn't want to infringe on any copyrights or make money off of your content. If you want us to block your blog from getting translated, please let me know at <%= mail_to "admin@bloglation.com", "yang [at] yangtheman.com" %>.
</p>
</div>
